#container{
    width:100%;
    height:100px;
    
}
#parent{
    display: flex;
    width:70%;
    flex-wrap: wrap;
    gap: 15px;
    line-height:0;
}
#references{
    display: flex;
    gap: 15px;
}
#parent >a{
    text-decoration: none;
    color: black;
}
#references > a{
    text-decoration: none;
    color: black;
}
/* medium screen */
@media All and (min-width:521px) and (max-width:750px){
    #container{
        width:100%;
        height:100px;
        
    }
    #parent{
        display: flex;
        width:70%;
        flex-wrap: wrap;
        gap: 15px;
        line-height:0;
    }
    #references{
        display: flex;
        gap: 15px;
    }
    #parent >a{
        text-decoration: none;
        color: black;
    }
    #references > a{
        text-decoration: none;
        color: black;
    }


}
/* small screen */
@media All and (min-width:370px) and (max-width:520){
    #container{
        width:100%;
        height:100px;
        
    }
    #parent{
        display: flex;
        width:70%;
        flex-wrap: wrap;
        gap: 15px;
        line-height:0;
    }
    #references{
        display: flex;
        gap: 15px;
    }
    #parent >a{
        text-decoration: none;
        color: black;
    }
    #references > a{
        text-decoration: none;
        color: black;
    }
}
