#parent{
    display: flex;
    width: 100%;
    height:80px;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: space-between;
   
    
}
#sections{
    display: flex;
    gap:12px;
    margin-top: 22px;
    
    
}
#logo{
    width:150px;
    height:85px;
}
#flower{
    width:45px;
    height: 45px;
    margin-top: 25px;
    margin-right:18px;
}
#sign{
    display: flex;
    margin-top: 26px;
    gap: 15px;
    margin-right:15px;
}
#child{
    display: flex;
    gap:15px
}
#space{
    height:20px;
    margin-top:15px;
}
a{
    text-decoration: none;
    color: black;
}
/* medium screen */
@media All and (min-width:521px) and (max-width:750px){
    #parent{
        display: flex;
        width: 100%;
        height:80px;
        margin: auto;
        /* border: 1px solid black; */
        justify-content: space-between;
       
        
    }
    #sections{
        display: flex;
        gap:12px;
        margin-top: 22px;
        
        
    }
    #logo{
        width:150px;
        height:85px;
    }
    #flower{
        width:45px;
        height: 45px;
        margin-top: 25px;
        margin-right:18px;
    }
    #sign{
        display: flex;
        margin-top: 26px;
        gap: 15px;
        margin-right:15px;
    }
    #child{
        display: flex;
        gap:15px
    }
    #space{
        height:20px;
        margin-top:15px;
    }
    a{
        text-decoration: none;
        color: black;
    }


}
/* small screen */
@media All and (min-width:370px) and (max-width:520){
    #parent{
        display: flex;
        width: 100%;
        height:80px;
        margin: auto;
        /* border: 1px solid black; */
        justify-content: space-between;
       
        
    }
    #sections{
        display: flex;
        gap:12px;
        margin-top: 22px;
        
        
    }
    #logo{
        width:150px;
        height:85px;
    }
    #flower{
        width:45px;
        height: 45px;
        margin-top: 25px;
        margin-right:18px;
    }
    #sign{
        display: flex;
        margin-top: 26px;
        gap: 15px;
        margin-right:15px;
    }
    #child{
        display: flex;
        gap:15px
    }
    #space{
        height:20px;
        margin-top:15px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}